<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://backnumber.info</string>
	<string>https://fujiikaze.com</string>
	<string>https://www.sonymusic.co.jp/artist/kenshiyonezu/</string>
	<string>https://www.yoasobi-music.jp</string>
</array>
</plist>
